# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VS Code settings
.vscode/

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and misc
*.log

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db
